In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('stads').getOrCreate()

24/06/21 14:21:08 WARN Utils: Your hostname, marwen resolves to a loopback address: 127.0.1.1; using 192.168.1.4 instead (on interface wlp3s0)
24/06/21 14:21:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/21 14:21:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
df = spark.read.csv('stads.csv', inferSchema= True, header= True, multiLine= True)

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
df

DataFrame[Stadium: string, Seating capacity: string, Region: string, Country: string, City: string, Images: string, Home team(s): string]

In [59]:
df.show()

+--------------------+----------------+----------------+----------------+--------------------+------+--------------------+
|             Stadium|Seating capacity|          Region|         Country|                City|Images|        Home team(s)|
+--------------------+----------------+----------------+----------------+--------------------+------+--------------------+
|Rungrado 1st of M...|      114,000[1]|       East Asia|     North Korea|         Pyongyang\n|  NULL|Korea DPR nationa...|
|    Michigan Stadium|      107,601[2]|   North America|   United States|Ann Arbor, Michig...|    \n|Michigan Wolverin...|
|        Ohio Stadium|      102,780[3]|   North America|   United States|      Columbus, Ohio|  NULL|Ohio State Buckey...|
|Melbourne Cricket...|      100,024[4]|         Oceania|       Australia| Melbourne, Victoria|  NULL|Australia nationa...|
|          Camp Nou ♦|       99,354[5]|          Europe|           Spain|Barcelona, Catalo...|  NULL|      FC Barcelona\n|
|    Estadio Azteca ♦|       95,500[6]|   North America|          Mexico|       Mexico City\n|  NULL|Club América, Cru...|
|       FNB Stadium ♦|       94,736[7]|          Africa|    South Africa|Johannesburg, Gau...|  NULL|South Africa nati...|
|New Administrativ...|       93,940[8]|          Africa|           Egypt|New Administrativ...|  NULL|Egypt national fo...|
|   Rose Bowl Stadium|       92,800[9]|   North America|   United States|Pasadena, Califor...|  NULL|       UCLA Bruins\n|
| Cotton Bowl Stadium|      92,100[10]|   North America|   United States|       Dallas, Texas|  NULL|                  \n|
| Wembley Stadium ♦\n|    90,000[11]\n|        Europe\n|       England\n|   London, England\n|    \n|England national ...|
|  Lusail Stadium ♦\n|    88,966[12]\n|     West Asia\n|         Qatar\n|            Lusail\n|    \n|Qatar national fo...|
|Bukit Jalil Natio...|          87,411|  Southeast Asia|        Malaysia|      Kuala Lumpur\n|  NULL|Malaysia national...|
|Borg el-Arab Stad...|      86,000[14]|          Africa|           Egypt|        Alexandria\n|  NULL|Egypt national fo...|
|Estadio Santiago ...|      85,000[15]|          Europe|           Spain|            Madrid\n|  NULL|       Real Madrid\n|
|Estadio Mâs Monum...|          84,567|   South America|       Argentina|      Buenos Aires\n|  NULL|Argentina nationa...|
|   Stadium Australia|          83,500|         Oceania|     Australia\n|Sydney, New South...|  NULL|South Sydney Rabb...|
|     MetLife Stadium|          82,500|   North America| United States\n|East Rutherford, ...|  NULL|New York Giants, ...|
|        Croke Park ♦|      82,300[16]|          Europe|         Ireland|            Dublin\n|  NULL|Gaelic Athletic A...|
|Jakarta Internati...|        82,000\n|Southeast Asia\n|     Indonesia\n|           Jakarta\n|    \n|Persija Jakarta, ...|
+--------------------+----------------+----------------+----------------+--------------------+------+--------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- Stadium: string (nullable = true)
 |-- Seating capacity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Images: string (nullable = true)
 |-- Home team(s): string (nullable = true)

In [7]:
# tranformation functions

def clean_text(text):
    
    import re
    
    # replace newline characters with an empty string
    if text:
        text = text.replace('\n', '')
    
    # replace the '♦' character with an empty string
    if text:
        text = text.replace('♦', '')
    
    # remove leading and trailing whitespace
    if text:
        text = re.sub(r'^\s+|\s+$', '', text)
    
    return text


def clean_integer(string):
    
    import re

    string = re.sub(r'\[.*?\]', '', string)
        
    if string:
        
        string = string.replace(',', '') 

    return string

In [8]:
# create udfs

from pyspark.sql.functions import udf

from pyspark.sql.types import StringType

clean_text_udf = udf(clean_text, StringType())

clean_integer_udf = udf(clean_integer, StringType())

In [9]:
# apply transformations to the df

# for all columns except Images, clean text
for column in df.columns:

    if column != 'Images':
    
        df = df.withColumn(column, clean_text_udf(df[column]))

# for Seating capacity column, apply integer specific transformations
df = df.withColumn('Seating capacity', clean_integer_udf(df['Seating capacity']))

df.show()

+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
|             Stadium|Seating capacity|        Region|      Country|                City|Images|        Home team(s)|
+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
|Rungrado 1st of M...|          114000|     East Asia|  North Korea|           Pyongyang|  NULL|Korea DPR nationa...|
|    Michigan Stadium|          107601| North America|United States| Ann Arbor, Michigan|    \n|Michigan Wolverin...|
|        Ohio Stadium|          102780| North America|United States|      Columbus, Ohio|  NULL|Ohio State Buckey...|
|Melbourne Cricket...|          100024|       Oceania|    Australia| Melbourne, Victoria|  NULL|Australia nationa...|
|            Camp Nou|           99354|        Europe|        Spain|Barcelona, Catalonia|  NULL|        FC Barcelona|
|      Estadio Azteca|           95500| North America|       Mexico|         Mexico City|  NULL|Club América, Cru...|
|         FNB Stadium|           94736|        Africa| South Africa|Johannesburg, Gau...|  NULL|South Africa nati...|
|New Administrativ...|           93940|        Africa|        Egypt|New Administrativ...|  NULL|Egypt national fo...|
|   Rose Bowl Stadium|           92800| North America|United States|Pasadena, California|  NULL|         UCLA Bruins|
| Cotton Bowl Stadium|           92100| North America|United States|       Dallas, Texas|  NULL|                    |
|     Wembley Stadium|           90000|        Europe|      England|     London, England|    \n|England national ...|
|      Lusail Stadium|           88966|     West Asia|        Qatar|              Lusail|    \n|Qatar national fo...|
|Bukit Jalil Natio...|           87411|Southeast Asia|     Malaysia|        Kuala Lumpur|  NULL|Malaysia national...|
|Borg el-Arab Stadium|           86000|        Africa|        Egypt|          Alexandria|  NULL|Egypt national fo...|
|Estadio Santiago ...|           85000|        Europe|        Spain|              Madrid|  NULL|         Real Madrid|
|Estadio Mâs Monum...|           84567| South America|    Argentina|        Buenos Aires|  NULL|Argentina nationa...|
|   Stadium Australia|           83500|       Oceania|    Australia|Sydney, New South...|  NULL|South Sydney Rabb...|
|     MetLife Stadium|           82500| North America|United States|East Rutherford, ...|  NULL|New York Giants, ...|
|          Croke Park|           82300|        Europe|      Ireland|              Dublin|  NULL|Gaelic Athletic A...|
|Jakarta Internati...|           82000|Southeast Asia|    Indonesia|             Jakarta|    \n|Persija Jakarta, ...|
+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
only showing top 20 rows

In [12]:
# convert Seating capacity to integer
from pyspark.sql.functions import col

df = df.withColumn("Seating capacity", col("Seating capacity").cast('integer'))

df.show()

+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
|             Stadium|Seating capacity|        Region|      Country|                City|Images|        Home team(s)|
+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
|Rungrado 1st of M...|          114000|     East Asia|  North Korea|           Pyongyang|  NULL|Korea DPR nationa...|
|    Michigan Stadium|          107601| North America|United States| Ann Arbor, Michigan|    \n|Michigan Wolverin...|
|        Ohio Stadium|          102780| North America|United States|      Columbus, Ohio|  NULL|Ohio State Buckey...|
|Melbourne Cricket...|          100024|       Oceania|    Australia| Melbourne, Victoria|  NULL|Australia nationa...|
|            Camp Nou|           99354|        Europe|        Spain|Barcelona, Catalonia|  NULL|        FC Barcelona|
|      Estadio Azteca|           95500| North America|       Mexico|         Mexico City|  NULL|Club América, Cru...|
|         FNB Stadium|           94736|        Africa| South Africa|Johannesburg, Gau...|  NULL|South Africa nati...|
|New Administrativ...|           93940|        Africa|        Egypt|New Administrativ...|  NULL|Egypt national fo...|
|   Rose Bowl Stadium|           92800| North America|United States|Pasadena, California|  NULL|         UCLA Bruins|
| Cotton Bowl Stadium|           92100| North America|United States|       Dallas, Texas|  NULL|                    |
|     Wembley Stadium|           90000|        Europe|      England|     London, England|    \n|England national ...|
|      Lusail Stadium|           88966|     West Asia|        Qatar|              Lusail|    \n|Qatar national fo...|
|Bukit Jalil Natio...|           87411|Southeast Asia|     Malaysia|        Kuala Lumpur|  NULL|Malaysia national...|
|Borg el-Arab Stadium|           86000|        Africa|        Egypt|          Alexandria|  NULL|Egypt national fo...|
|Estadio Santiago ...|           85000|        Europe|        Spain|              Madrid|  NULL|         Real Madrid|
|Estadio Mâs Monum...|           84567| South America|    Argentina|        Buenos Aires|  NULL|Argentina nationa...|
|   Stadium Australia|           83500|       Oceania|    Australia|Sydney, New South...|  NULL|South Sydney Rabb...|
|     MetLife Stadium|           82500| North America|United States|East Rutherford, ...|  NULL|New York Giants, ...|
|          Croke Park|           82300|        Europe|      Ireland|              Dublin|  NULL|Gaelic Athletic A...|
|Jakarta Internati...|           82000|Southeast Asia|    Indonesia|             Jakarta|    \n|Persija Jakarta, ...|
+--------------------+----------------+--------------+-------------+--------------------+------+--------------------+
only showing top 20 rows

In [13]:
df.printSchema()

root
 |-- Stadium: string (nullable = true)
 |-- Seating capacity: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Images: string (nullable = true)
 |-- Home team(s): string (nullable = true)

In [25]:
df.write.csv('.', header= True, mode= 'overwrite')

24/06/21 14:43:51 WARN FileUtil: Failed to delete file or dir [/home/marwen/Applications/experiments/stadiums_data_pipeline]: it still exists.

Py4JJavaError: An error occurred while calling o145.csv.
: org.apache.spark.SparkException: Unable to clear output directory file:/home/marwen/Applications/experiments/stadiums_data_pipeline prior to writing to it.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotClearOutputDirectoryError(QueryExecutionErrors.scala:794)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.deleteMatchingPartitions(InsertIntoHadoopFsRelationCommand.scala:239)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:131)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:850)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)